.task {
    background: #fff;
    padding: 20px;
    color: #999;
    box-shadow: 0 2px 1px -1px rgba(black, 0.2);
    border-radius: 10px;
    overflow: hidden;
    cursor: move;

    &:hover {
        background-color: rgba(255, 255, 255, 0.83);
    }

    &.dragged {
        opacity: 0.5;
    }

    .style {
        background: #7daee9;
    }
}
