.task {
    padding: 20px;
    position: relative;
    background: #fff;
    color: #999;
    box-shadow: 0 2px 1px -1px rgba(black, 0.2);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    .style {
        width: 10px; 
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }

    .progressBar {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 0;
        background-color: rgba(0, 128, 0, 0.2);
    }
    &.showProgress .progressBar {
        width: 100%;
        transition: 1s;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.93);
        box-shadow: 0 2px 1px 0px rgba(black, 0.2);
    }

    &.dragged {
        opacity: 0.5;
    }

    &.completed {
        background: none;
        box-shadow: inset 1px 1px 0 0 #ddd, inset -1px -1px 0 0 #ddd;
        cursor: default;
        transition: 0.1s all ease-in;

        .checked {
            padding-right: 5px;
        }
    }

    &.overdue {
        .style {
            background: rgba(255, 0, 0, 0.2);
        }

        .warning {
            padding-right: 5px;
        }
    }

    &.mini {
        padding: 0px 15px;
        max-height: 20px;
        // todo
        max-width: 170px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
