.calendarWeekDay {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;

    .header {
        flex: 0;
        padding: 10px;

        color: #00000081;

        h2 {
            display: inline;
        }
        span {
            letter-spacing: 1px;
        }
    }

    .tasks {
        flex: 1;
    }

    &.today {
        background-color: #e5e5e5;
    }

    &.mini {
        .header {
            span {
                display: none;
                opacity: 0.3;
            }
        }
    }

    &.notCurrentMonth {
        .header {
            opacity: 0.3;
        }
    }
}
