.calendarWeekDay {
    height: 100%;
    border-left: 1px solid #ddd;

    .header {
        padding: 10px;
        letter-spacing: 1px;

        strong {
            font-size: 28px;
        }
    }

    &.today {
        background: #7daee92c;
        box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2),
                inset -1px -1px 2px 0 rgba(255, 255, 255, 0.5);
    }
}
