.mainPage {
    height: 100%;
    display: flex;

    div {
        flex: 1;
    }

    .tasks {
        max-width: 350px;
        padding: 10px 20px;
        background: #e5e5e5;

        input {
            height: 30px;
            width: 330px;
            margin: 0 0 15px 0;
        }
    }
}
