.mainPage {
    height: 100%;
    display: flex;

    .tasks {
        padding: 0 5px;
        max-width: 250px;
        background: #e5e5e5;

        input {
            height: 15px;
            width: 210px;
            margin: 10px;
        }
    }

    .calendar {
        flex: 1;
    }
}
