.mainPage {
    height: 100%;
    display: flex;

    div {
        flex: 1;
    }

    .tasks {
        max-width: 350px;
        padding: 10px 20px;

        textarea {
            height: 100px;
            width: 330px;
            margin: 45px 0 10px 0;
        }
    }
}
