@use './variables.scss';

html,
body {
    margin: 0;
    font-family: variables.$font-family;
    letter-spacing: 0.01em;
}

html,
body,
#root {
    height: 100vh;
}

h1, h2 {
    margin: 0;
    font-weight: 100;
}
h1 {
    padding: 10px;
    font-size: 22px;
    letter-spacing: 1px;
}
