.calendarHeader {
    display: flex;
    flex-direction: row;
    background: #eee;

    h1 {
        color: #999;
        padding-right: 10px;
    }

    .actionTogglePeriod, .actionDelete {
        opacity: 0;
    }
    .actionTogglePeriod {
        flex: 1;
    }
    .actionDelete {
        display: none;
        width: 200px;
    }

    &.dndMode {
        .actionTogglePeriod, .actionDelete {
            opacity: 1;
            transition: 0.2s all ease;
        }
        .actionDelete {
            display: block;
        }
    }
}

.trashIcon {
    fill: #fff;
}
