.calendarHeader {
    display: flex;
    flex-direction: row;

    h1 {
        flex: 1;
        color: #a5a5a5;
    }

    .controls {
        flex: 1;
        max-width: 155px;
        padding: 10px;
    }
}
