.tasksForm {
    background: #e5e5e5;
    box-shadow: 0 2px 1px -1px rgba(black, 0.2);
    width: 300px;
    // transition: 0.2s all ease-in;

    // todo: move to the separate header style
    .header {
        border: 1px solid rgb(221, 221, 221);

        h1 {
            display: inline-block;
            padding: 12.5px 8px;
            color: #999;
        }

        button {
            // todo: move to the separate button style
            margin: 0px 0px 0px 10px;
            line-height: 35px;
            padding: 0 5px;
            border-radius: 30px;
            box-shadow: 
                rgba(255, 255, 255, .6) 0 1px 0 inset,
                0 2px 1px -1px rgba(black, 0.2);
            opacity: 0.99;

            svg {
                height: 20px;
                width: 20px;
                padding-bottom: 10px;
            }
        }
    }

    &.minimized {
        width: 30px;
        transition: 0.2s all ease-in;

        .header {
            border-color: transparent;

            button {
                margin-top: 8px;
            }
        }
    }

    input {
        height: 15px;
        width: 210px;
        margin: 10px;
    }
}
